.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .card {
    margin: 2rem;
    border-radius: 4px;
    .card-header {
      height: 3rem;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
