.skelet-top {
  display: block;
  width: 300px;
  margin: 0 auto;

  .sub-heading {
    display: block;
    width: 150px;
    margin: auto;
    margin-bottom: 1rem;
  }
  .sub-heading2 {
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .sub-heading3 {
    display: block;
    width: 300px;
    margin: auto;
    margin-top: 1rem;
  }
}
